<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta charset="utf-8" />

    <title>鼓浪听涛-登录</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.svg"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/assets/vendor/select2/dist//assets/css/select2.min.css"/> -->

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="/assets/css/nice-select.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
    <script type="text/javascript" src="/assets/js/sweetalert-dev.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.js"></script>
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/inview.min.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/tilt.jquery.js"></script>
    <script src="/assets/js/isotope.min.js"></script>
    <script src="/assets/js/jquery.imagesloaded.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/custom.js"></script>

    <script>
        $(document).ready(function(){
            {% if code == 200000 %}
            swal('尚未登录', '请您先登录网站！', 'warning');
            {% elif code == 200010 %}
            swal('登录失败', '用户名或密码不正确', 'error');
            {% elif code == 200021 %}
            swal('注册成功', '马上登录吧！', 'success');
            {% endif %}
        });
    </script>
</head>
<body>
    <!-- Preloader Start !-->
    <div id="preloader">
        <div id="preloader-status">
            <img src="/assets/images/preloader.gif" alt="Preloader">
        </div>
    </div>
    <!-- Preloader End !-->

    <!-- Header Start !-->
    <header class="header-area style-1">
        <!-- Header Nav Menu Start -->
        <div class="header-menu-area sticky-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 d-flex align-items-center">
                        <div class="logo">
                            <a href="../index" class="standard-logo" style="width:75px;">
                                <img src="/assets/images/logo.svg" alt="logo" width="80%" height="80%"/>
                            </a>
                            <h6>鼓浪听涛</h6>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-6 col-6 d-flex align-items-center justify-content-end">
                        <div class="menu d-inline-block">
                            <div class="mean-push"></div>
                            <nav id="main-menu" class="main-menu" style="display: none;">
                                <ul>
                                    <li><a href="../index">主页</a></li>
                                    <li class="dropdown">
                                        <a href="#">旅游资讯</a>
                                        <ul class="submenu">
                                            <li><a href="../spot">景点</a></li>
                                            <li><a href="../food">美食</a></li>
                                            <li><a href="../suggestion">攻略</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="../plan">定制行程</a></li>
                                    <li><a href="../about">关于</a></li>
                                    <li><a href="../login"><button class="theme-btn">登录</button></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu-bar d-lg-none text-end">
                            <a href="#" class="mobile-menu-toggle-btn">
                                <i class="fal fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Nav Menu End -->
    </header>
    <!-- Header End !-->

    <div class="menu-sidebar-area">
        <div class="menu-sidebar-wrapper">
            <div class="menu-sidebar-close">
                <button class="menu-sidebar-close-btn" id="menu_sidebar_close_btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="menu-sidebar-content">
                <div class="menu-sidebar-logo">
                    <a href="../index">
                        <img src="/assets/images/logo.svg" alt="logo">
                    </a>
                </div>
                <div class="mobile-nav-menu mean-container">
                    <div class="mean-bar">
                        <a href="#nav" class="meanmenu-reveal" style="right: 0px; left: auto; display: inline;">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="menu-sidebar-content">
                    <div class="menu-sidebar-single-widget">
                        <h5 class="menu-sidebar-title">联系我们</h5>
                        <div class="header-contact-info">
                            <span>
                                <i class="fa-solid fa-location-dot">NKU, China</i>
                            </span>
                            <span>
                                <i class="fa-solid fa-envelope">roslin_v@163.com</i>
                            </span>
                        </div>
                        <div class="social-profile">
                            <a href="https://github.com/Roslin-v"><img src="/assets/images/github.svg"></a>
                            <a href="https://blog.csdn.net/Roslin_v"><img src="/assets/images/csdn.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Start!-->
    <div class="blog-area tour-details">
        <div class="container" align="center">
            <div class="sidebar" style="width: 400px;">
                <div class="widget widget_booking_form">
                    <h3 style="margin-down: 25px;">用户登录</h3>
                    <form action="#" method="post" class="comment-form">
                        {% csrf_token %}
                        <div class="row g-4">
                            <div class="contacts-email input-wrapper">
                                {{ data.email.label_tag }}
                                {{ data.email }}
                            </div>
                            <div class="contacts-phone input-wrapper">
                                {{ data.passwd.label_tag }}
                                {{ data.passwd }}
                            </div>
                            <div class="col-12" align="center">
                                <button class="theme-btn" type="submit">登录</button>
                            </div>
                            <div class="col-12" align="center">
                                <a href="../signup"><button class="theme-btn" type="button">还没有账号？</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End!-->


</body>
</html>