<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta charset="utf-8" />

    <title>鼓浪听涛-注册</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.svg"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/assets/vendor/select2/dist//assets/css/select2.min.css"/> -->

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="/assets/css/nice-select.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
    <script type="text/javascript" src="/assets/js/sweetalert-dev.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.js"></script>
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/inview.min.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/tilt.jquery.js"></script>
    <script src="/assets/js/isotope.min.js"></script>
    <script src="/assets/js/jquery.imagesloaded.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/custom.js"></script>

    <script>
        $(document).ready(function(){
            {% if code == 200020 %}
            swal('注册失败', '邮箱已注册或信息不符合要求', 'error');
            {% endif %}
        });
        function passwdRule() {
          console.log('rule');
          let passwd = document.getElementById("id_passwd").value;
          let rule =/^(?=.*[a-z])(?=.*\d)[^]{8,16}$/;
          let result = rule.test(id_passwd);
          if (!result) {
            document.getElementById("passwd-span").innerHTML = "密码必须包含数字、字母，且不少于8位！";
            return false;
          }
          else {
            document.getElementById("passwd-span").innerHTML = "";
            return true;
          }
        }
        function passwdConfirm() {
          let passwd = document.getElementById("id_passwd").value;
          let confirmPasswd = document.getElementById("id_confirm_passwd").value;
          if (passwd === confirmPasswd){
            document.getElementById("confirm-passwd-span").innerHTML = "";
            document.getElementById("signup-btn").type = "submit";
          }
          else {
            document.getElementById("confirm-passwd-span").innerHTML = "两次输入的密码不一致！";
            document.getElementById("signup-btn").type = "button";
          }
        }
    </script>
</head>
<body>
    <!-- Preloader Start !-->
    <div id="preloader">
        <div id="preloader-status">
            <img src="/assets/images/preloader.gif" alt="Preloader">
        </div>
    </div>
    <!-- Preloader End !-->

    <!-- Header Start !-->
    <header class="header-area style-1">
        <!-- Header Nav Menu Start -->
        <div class="header-menu-area sticky-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 d-flex align-items-center">
                        <div class="logo">
                            <a href="../index" class="standard-logo" style="width:75px;">
                                <img src="/assets/images/logo.svg" alt="logo" width="80%" height="80%"/>
                            </a>
                            <h6>鼓浪听涛</h6>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-6 col-6 d-flex align-items-center justify-content-end">
                        <div class="menu d-inline-block">
                            <nav id="main-menu" class="main-menu">
                                <ul>
                                    <li><a href="../index">主页</a></li>
                                    <li class="dropdown">
                                        <a href="../tour">旅游资讯</a>
                                        <ul class="submenu">
                                            <li><a href="../spot">景点</a></li>
                                            <li><a href="../food">美食</a></li>
                                            <li><a href="../suggestion">攻略</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="../plan">定制行程</a></li>
                                    <li><a href="../about">关于</a></li>
                                    <li><a href="../login"><button class="theme-btn">登录</button></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Nav Menu End -->
    </header>
    <!-- Header End !-->

    <!-- Signup Start!-->
    <div class="blog-area tour-details">
        <div class="container" align="center">
            <div class="sidebar" style="width: 400px;">
                <div class="widget widget_booking_form">
                    <h3 style="margin-down: 25px;">用户注册</h3>
                    <form action="#" method="post" class="comment-form">
                        {% csrf_token %}
                        <div class="row g-4">
                            <div class="contacts-name input-wrapper">
                                 {{ data.name.label_tag }}
                                 {{ data.name }}
                            </div>
                            <div class="contacts-email input-wrapper">
                                {{ data.email.label_tag }}
                                {{ data.email }}
                            </div>
                            <div class="contacts-phone input-wrapper">
                                {{ data.passwd.label_tag }}
                                {{ data.passwd }}
                                <span id="passwd-span" style="color: red; font-size: 14px;"></span></p>
                            </div>
                            <div class="contacts-phone input-wrapper">
                                {{ data.confirm_passwd.label_tag }}
                                {{ data.confirm_passwd }}
                                <span id="confirm-passwd-span" style="color: red; font-size: 14px;"></span></p>
                            </div>
                            <div class="col-12" align="center">
                                <button class="theme-btn" id="signup-btn" type="submit">注册</button>
                            </div>
                            <div class="col-12" align="center">
                                <a href="../login"><button class="theme-btn" type="button">已有账号？</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Signup End!-->


</body>
</html>