<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta charset="utf-8" />

    <title>鼓浪听涛-景点</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.svg"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/assets/vendor/select2/dist//assets/css/select2.min.css"/> -->

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="/assets/css/nice-select.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/multiple-select.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">

    <script type="text/javascript" src="/assets/js/sweetalert-dev.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.js"></script>
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/inview.min.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/tilt.jquery.js"></script>
    <script src="/assets/js/isotope.min.js"></script>
    <script src="/assets/js/jquery.imagesloaded.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/multiple-select.min.js"></script>

    <script>
        $(document).ready(function(){
            var w = window.innerWidth * 0.6;
            document.getElementById("search-widget").style.width = w + "px" ;
            {% if code == 200040 %}
            swal('查询失败', '请检查您输入的关键词！', 'error');
            {% elif code == 200041 %}
            swal('查询成功', '共查询到{{data.counts}}条结果！', 'success');
            {% endif %}
        });
    </script>
</head>
<body>
    <!-- Preloader Start !-->
    <div id="preloader">
        <div id="preloader-status">
            <img src="/assets/images/preloader.gif" alt="Preloader">
        </div>
    </div>
    <!-- Preloader End !-->

    <!-- Header Start !-->
    <header class="header-area style-1">
        <!-- Header Nav Menu Start -->
        <div class="header-menu-area sticky-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 d-flex align-items-center">
                        <div class="logo">
                            <a href="../index" class="standard-logo" style="width:75px;">
                                <img src="/assets/images/logo.svg" alt="logo" width="80%" height="80%"/>
                            </a>
                            <h6>鼓浪听涛</h6>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-6 col-6 d-flex align-items-center justify-content-end">
                        <div class="menu d-inline-block">
                            <div class="mean-push"></div>
                            <nav id="main-menu" class="main-menu" style="display: none;">
                                <ul>
                                    <li><a href="../index">主页</a></li>
                                    <li class="dropdown">
                                        <a href="#">旅游资讯</a>
                                        <ul class="submenu">
                                            <li><a href="../spot">景点</a></li>
                                            <li><a href="../food">美食</a></li>
                                            <li><a href="../suggestion">攻略</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="../plan">定制行程</a></li>
                                    <li><a href="../about">关于</a></li>
                                    {% if request.session.is_login %}
                                    <li class="dropdown">
                                        <button class="theme-btn">Hello, {{ request.session.user_name }}</button>
                                        <ul class="submenu">
                                            <li><a href="../favorite">我的收藏</a></li>
                                            <li><a href="../contact">意见反馈</a></li>
                                            <li><a href="../logout">退出登录</a></li>
                                        </ul>
                                    </li>
                                    {% else %}
                                    <li><a href="../login"><button class="theme-btn">登录</button></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu-bar d-lg-none text-end">
                            <a href="#" class="mobile-menu-toggle-btn">
                                <i class="fal fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Nav Menu End -->
    </header>
    <!-- Header End !-->

    <div class="menu-sidebar-area">
        <div class="menu-sidebar-wrapper">
            <div class="menu-sidebar-close">
                <button class="menu-sidebar-close-btn" id="menu_sidebar_close_btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="menu-sidebar-content">
                <div class="menu-sidebar-logo">
                    <a href="../index">
                        <img src="/assets/images/logo.svg" alt="logo">
                    </a>
                </div>
                <div class="mobile-nav-menu mean-container">
                    <div class="mean-bar">
                        <a href="#nav" class="meanmenu-reveal" style="right: 0px; left: auto; display: inline;">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="menu-sidebar-content">
                    <div class="menu-sidebar-single-widget">
                        <h5 class="menu-sidebar-title">联系我们</h5>
                        <div class="header-contact-info">
                            <span>
                                <i class="fa-solid fa-location-dot">NKU, China</i>
                            </span>
                            <span>
                                <i class="fa-solid fa-envelope">roslin_v@163.com</i>
                            </span>
                        </div>
                        <div class="social-profile">
                            <a href="https://github.com/Roslin-v"><img src="/assets/images/github.svg"></a>
                            <a href="https://blog.csdn.net/Roslin_v"><img src="/assets/images/csdn.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Header Start !-->
    <div class="page-breadcrumb-area page-bg" style="background-image: url('/assets/images/xiamen.jpg')">
        <!-- <div class="page-overlay"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <div class="page-heading">
                            <h3 class="page-title">景点</h3>
                        </div>
                        <div class="widget widget_search" id="search-widget" style="margin-left: 10%;">
                            <form class="search-form" action="#" method="post">
                                {% csrf_token %}
                                {% if code == 200041 %}
                                <input name="search" type="text" placeholder="{{ data.search }}"/>
                                {% else %}
                                <input name="search" type="text" placeholder="搜索..."/>
                                {% endif %}
                                <button type="submit" title="search-btn"><i class="icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End !-->

    <!-- Location Area Start -->
    <div class="tour-area">
        <div class="location-area style-1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title  align-content-center justify-content-center text-center">
                            <div class="sec-content">
                                <h2 class="title">热门景点</h2>
                                <img class="bottom-shape" src="/assets/images/bottom-bar.png" alt="Bottom Shape">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="isotope-grid">
                    <div id="card-area" class="row gy-4">
                        {% for s in data.spot %}
                        <!--- Single Location Start !-->
                        <div class="col-lg-4 col-md-6 masonry-portfolio-item wow fadeInUp" data-wow-delay="0s">
                            <div class="location-card style-2">
                                <div class="image-wrapper">
                                    <img src="/assets/images/{{s.pic}}" alt="Location Image">
                                    <div class="rating">
                                        <div class="ratting-inner">
                                            <span><i class="fa-solid fa-star"></i></span>
                                            <span class="counter">{{ s.score }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content-inner">
                                        <h3 class="content-title"><a>{{ s.name }}</a></h3>
                                        <div class="time-zone">
                                            <div class="time-zone-inner" style="margin-bottom: -20px;">
                                                {% if s.price != 0 %}
                                                <h5 class="price">门票：{{ s.price }}元</h5>
                                                {% else %}
                                                <h5 class="price">门票：免费</h5>
                                                {% endif %}
                                            </div>
                                            {% if s.description != None %}
                                            <div class="time-zone-inner">
                                                <p class="title">{{ s.description }}</p>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--- Single Location End !-->
                        {% endfor %}
                    </div>
                </div>
                <!--
                <div class="basic-pagination">
                    <ul class="justify-content-center">
                    </ul>
                </div>
                !-->
            </div>
        </div>
    </div>
    <!-- Location Area End -->

    <!--- Start Footer !-->
    <footer class="footer bg-light-black">
        <div class="footer-sec">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="footer-widget-logo">
                                <div class="footer-logo">
                                    <a href="../index"><img src="/assets/images/logo.svg" alt="Footer Logo"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">
                        <div class="footer-widget footer-widget-info">
                            <h2 class="footer-widget-title">关于·鼓浪听涛</h2>
                            <div class="footer-widget-contact">
                                <p class="desc">我们利用规划算法和推荐算法为您提供符合需求和偏好的行程规划</p>
                                <div class="footer-contact">
                                    <div class="contact-icon"><i class="fa-solid fa-location-dot"></i></div>
                                    <div class="contact-text"><span>NKU, China</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6">
                        <div class="footer-widget-menu-wrapper">
                            <div class="footer-widget widget_nav_menu">
                                <h2 class="footer-widget-title">快速访问</h2>
                                <ul class="menu">
                                    <li><a href="../index">主页</a></li>
                                    <li><a href="../tour">旅游资讯</a></li>
                                    <li><a href="../suggestion">旅游攻略</a></li>
                                    <li><a href="../plan">定制行程</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">
                        <div class="footer-widget">
                            <h2 class="footer-widget-title">联系我们</h2>
                             <div class="footer-widget-contact">
                                 <div class="footer-contact">
                                    <div class="contact-icon"><i class="fa-solid fa-envelope"></i></div>
                                    <div class="contact-text">roslin_v@163.com</div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6  d-flex  justify-content-lg-end align-items-lg-end">
                        <div class="footer-widget">
                            <h2 class="footer-widget-title">关注我们</h2>
                            <div class="footer-widget-social">
                                <div class="social-profile">
                                    <a href="https://github.com/Roslin-v"><img src="/assets/images/github.svg"></a>
                                    <a href="https://blog.csdn.net/Roslin_v"><img src="/assets/images/csdn.svg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-bottom-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright-text">
                                <p>Copyright &copy; Roslin V.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--- End Footer !-->

    <!-- Scroll Up Section Start -->
    <div id="scrollTop" class="scrollup-wrapper">
        <div class="scrollup-btn">
            <i class="fa-solid fa-arrow-up"></i>
        </div>
    </div>
    <!-- Scroll Up Section End -->
</body>
</html>