<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/multiple-select.min.css" />
    <link rel="stylesheet" href="../assets/css/nice-select.css" />
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/multiple-select.min.js"></script>
</head>
<body>
    <select id="prefer_trans" name="prefer_trans" title="请选择您偏好的交通方式">
        <option>公共交通</option>
        <option>打的</option>
    </select>
    <select id="select_spot" name="select_spot" multiple="multiple">
        <option>鼓浪屿</option>
        <option>湖里山炮台</option>
        <option>植物园</option>
        <option>环岛路</option>
        <option>曾厝垵</option>
        <option>厦门大学</option>
        <option>南普陀</option>
    </select>
    <script>
        $('#select_spot').multipleSelect({
            placeholder: "请选择您想去的景点",
            minimumCountSelected: 5,
            filter: true,
        });
    </script>
</body>
</html>